<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 50%;
        height: 400px;
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <h3>RedDot Map Demo</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var jsonstring = "{{data}}"; //data passed from flask
            jsonstring = jsonstring.replace(/&#34;/g, "\""); //replace &#34; with "
            console.log(jsonstring);
            var jsondata = JSON.parse(jsonstring);
            var data = jsondata.data; //take "data" field only

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: location,
                styles:
                        [
                          {
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#ebe3cd"
                              }
                            ]
                          },
                          {
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#523735"
                              }
                            ]
                          },
                          {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                              {
                                "color": "#f5f1e6"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#c9b2a6"
                              }
                            ]
                          },
                          {
                            "featureType": "landscape.natural",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "labels.text",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#93817c"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#a5b076"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#447530"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "color": "#000000"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels.text",
                            "stylers": [
                              {
                                "color": "#806b63"
                              },
                              {
                                "lightness": 35
                              }
                            ]
                          },
                          {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#fdfcf8"
                              }
                            ]
                          },
                          {
                            "featureType": "road.arterial",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#e98d58"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#db8555"
                              }
                            ]
                          },
                          {
                            "featureType": "road.local",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "transit",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#8f7d77"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                              {
                                "color": "#ebe3cd"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#b9d3c2"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#92998d"
                              }
                            ]
                          }
                        ]

            });

            var infowindow = new google.maps.InfoWindow();

            for (i = 0; i < data.length; i++){
                if (data[i][0] == "green"){
                    var IconType = "http://maps.google.com/mapfiles/ms/icons/green.png";
                }
                else{
                    var IconType = "http://maps.google.com/mapfiles/ms/icons/red.png";
                }

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat(data[i][1]), parseFloat(events[i][2])),
                    map: map,
                    icon: IconType
                });

                google.maps.event.addListener(marker, "click", (function (marker, i) {
                    return function() {
                        infowindow.setContent(data[i][3]);
                        infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOHvH4oWuREojfdAfwD79SiYDDKBwsKdg&callback=initMap">
    </script>
  </body>
</html>