<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
-->
<title>Dot</title>
<!--
Favicons
=============================================
-->
<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!--
Stylesheets
=============================================

-->
<!-- Default stylesheets-->
<link href="{{ url_for('static',filename='assets/lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Template specific stylesheets-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/animate.css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/et-line-font/et-line-font.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/flexslider/flexslider.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/magnific-popup/dist/magnific-popup.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/simple-text-rotator/simpletextrotator.css') }}" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
<link id="color-scheme" href="{{ url_for('static',filename='assets/css/colors/default.css') }}" rel="stylesheet">

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOHvH4oWuREojfdAfwD79SiYDDKBwsKdg">
</script>
<script type="text/javascript">

function initialize() {
    var myLatlng = new google.maps.LatLng(38.0356,-78.5034);
    var myOptions = {
        zoom:15,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("gmap"), myOptions);
    // marker refers to a global variable
    marker = new google.maps.Marker({
        position: myLatlng,
        map: map
    });
    // if center changed then update lat and lon document objects
    google.maps.event.addListener(map, 'center_changed', function () {
        var location = map.getCenter();
        document.getElementById("lat").value = location.lat();
        document.getElementById("lon").value = location.lng();
        // call function to reposition marker location
        placeMarker(location);
    });
    // if zoom changed, then update document object with new info
    google.maps.event.addListener(map, 'zoom_changed', function () {
        zoomLevel = map.getZoom();
        document.getElementById("zoom_level").innerHTML = zoomLevel;
    });
    // double click on the marker changes zoom level
    google.maps.event.addListener(marker, 'dblclick', function () {
        zoomLevel = map.getZoom() + 1;
        if (zoomLevel == 20) {
            zoomLevel = 10;
        }
        document.getElementById("zoom_level").innerHTML = zoomLevel;
        map.setZoom(zoomLevel);
    });

    function placeMarker(location) {
        marker.setPosition(location);
    }
}
window.onload = function () { initialize() };
</script>
<style>
div#gmap {
    width: 80%;
    height: 500px;
    border:double;
}
</style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">RedDtoGreenDot</a>
            </div>
        </nav>
        <section class="home-section home-full-height bg-dark-30" id="home">

            <section id="map" class="wrapper style1 special">
                <div id="mainmap"></div>

                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOHvH4oWuREojfdAfwD79SiYDDKBwsKdg&callback=myMap"></script>
                <script>
                function myMap() {
                    var jsonstring = "{{data}}"; //data passed from flask
                    jsonstring = jsonstring.replace(/&#34;/g, "\""); //replace &#34; with "
                    console.log(jsonstring);
                    var jsondata = JSON.parse(jsonstring);
                    var data = jsondata.data; //take "data" field only

                    var mapOptions = {
                        zoom: 20,
                        center: new google.maps.LatLng(38.0356,-78.5034),
                        styles:
                        [
                            {
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#ebe3cd"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#523735"
                                    }
                                ]
                            },
                            {
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "color": "#f5f1e6"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "color": "#c9b2a6"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape.natural",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#dfd2ae"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#dfd2ae"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#93817c"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#D3D3D3"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#447530"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "color": "#806b63"
                                    },
                                    {
                                        "lightness": 35
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#fdfcf8"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#ffffff"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway.controlled_access",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway.controlled_access",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#e98d58"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway.controlled_access",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "color": "#db8555"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.line",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#dfd2ae"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.line",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#8f7d77"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.line",
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "color": "#ebe3cd"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.station",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#dfd2ae"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "stylers": [
                                    {
                                        "visibility": "simplified"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#b9d3c2"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#92998d"
                                    }
                                ]
                            }
                        ]
                    }



                    var map = new google.maps.Map(document.getElementById("mainmap"), mapOptions);

                    for (i = 0; i < data.length; i++){
                        console.log(data[i]);
                        console.log(parseFloat(data[i][3]) +","+ parseFloat(data[i][4]))
                        if (data[i][0] == "green"){
                            var IconType = "https://i.imgur.com/Mlyc015.png";
                        }
                        else{
                            var IconType = "https://i.imgur.com/aqQLHjh.png";
                        }

                        var dateAdded = data[i][4];
                        var dateExpires = new Date(dateAdded);
                        dateExpires.setDate(dateExpires.getDate()+7);
                        var today = new Date();
                        if (dateExpires > today){
                          var marker = new google.maps.Marker({
                              position: new google.maps.LatLng(parseFloat(data[i][1]), parseFloat(data[i][2])),
                              map: map,
                              icon: IconType
                          });
                        }

                        google.maps.event.addListener(marker, "click", (function (marker, i) {
                            return function() {
                                infowindow.setContent(data[i][3]);
                                infowindow.open(map, marker);
                                }
                            })(marker, i));
                        }
                }

                </script>

            </section>
        </section>
        <br>

        <form method=post id="form1" runat="server">
            <center>
                <h2>Submit A New Dot</h2>
                <br>
                <!-- MAP HOLDER -->
                <div id="gmap"></div>
                <!-- REFERENCES -->
                <br>
                <input type='hidden' name='lat' id='lat' value='38.0356' required>
                <input type='hidden' name='lon' id='lon' value='-78.5034' required>

                <input class="form-check-input" type="radio" name="color" id="red" value="red" checked="checked">
                <label class="form-check-label" for="red">Red Dot</label>
                &nbsp;
                <input class="form-check-input" type="radio" name="color" id="green" value="green">
                <label class="form-check-label" for="green">Green Dot</label>

                <br>

                <input type='date' id='datepick' name='date' size="10" style="text-align:center; margin-bottom: 10px" required>

                <br>

                <script type=text/javascript>
                today = new Date();
                var yyyy = today.getYear()+1900;
                var mm = today.getMonth()+1;
                var dd = today.getDate();
                if(mm<10){
                    mm = "0" + mm;
                }
                if(dd<10){
                    dd = "0" + dd;
                }
                document.getElementById('datepick').value = (yyyy+"-"+mm+"-"+dd);
                </script>

                <input type="textbox" name="desc" size="50" placeholder="Event Description" required>

                <br>
                <br>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>
                <input type=submit name="filter" value="Submit">
            </center>
        </form>
        <br>
        <br>
        <div class="main">

            <section class="module bg-dark-60" data-background="assets/images/wood.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Scoreboard</h2>
                            <div class="module-subtitle font-serif"></div>
                        </div>
                    </div>
                    <div class="row multi-columns-row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon"><span class="icon-wallet"></span></div>
                                <h3 class="count-to font-alt" data-countto="6543"></h3>
                                <h5 class="count-title font-serif">Dollars raised for charity</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon"><span class="icon-wine"></span></div>
                                <h3 class="count-to font-alt" data-countto="8"></h3>
                                <h5 class="count-title font-serif">Cups of wine consumed</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon"><span class="icon-camera"></span></div>
                                <h3 class="count-to font-alt" data-countto="184"></h3>
                                <h5 class="count-title font-serif">Photographs taken</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="count-item mb-sm-40">
                                <div class="count-icon"><span class="icon-map-pin"></span></div>
                                <h3 class="count-to font-alt" data-countto="32"></h3>
                                <h5 class="count-title font-serif">Locations covered</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Meet Our Team</h2>
                            <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
                                    <div class="team-detail">
                                        <h5 class="font-alt">Hi all</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Jim Stone</div>
                                    <div class="team-role">Art Director</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo"/>
                                    <div class="team-detail">
                                        <h5 class="font-alt">Good day</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Andy River</div>
                                    <div class="team-role">Creative director</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="assets/images/team-3.jpg" alt="Member Photo"/>
                                    <div class="team-detail">
                                        <h5 class="font-alt">Hello</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Adele Snow</div>
                                    <div class="team-role">Account manager</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo"/>
                                    <div class="team-detail">
                                        <h5 class="font-alt">Yes, it's me</h5>
                                        <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                                        <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                                    </div>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Dylan Woods</div>
                                    <div class="team-role">Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                            <div class="callout-text font-alt">
                                <h3 class="callout-title">Want to see more of our work?</h3>
                                <p>Our team is always open to pushing out more projects.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="callout-btn-box"><a class="btn btn-w" href="http://www.resumeblind.com"View>ResumeBlind</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright font-alt">&copy; 2018&nbsp;<a href="index.html">Dot</a>, All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--
    JavaScripts
    =============================================
-->
<script src="{{ url_for('static',filename='assets/lib/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/wow/dist/wow.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/isotope/dist/isotope.pkgd.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/imagesloaded/imagesloaded.pkgd.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/flexslider/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/owl.carousel/dist/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/smoothscroll.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/magnific-popup/dist/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>
