<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
-->
<title>Dot</title>
<!--
Favicons
=============================================
-->
<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!--
Stylesheets
=============================================

-->
<!-- Default stylesheets-->
<link href="{{ url_for('static',filename='assets/lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Template specific stylesheets-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/animate.css/animate.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/et-line-font/et-line-font.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/flexslider/flexslider.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/magnific-popup/dist/magnific-popup.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='assets/lib/simple-text-rotator/simpletextrotator.css') }}" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
<link id="color-scheme" href="{{ url_for('static',filename='assets/css/colors/default.css') }}" rel="stylesheet">

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOHvH4oWuREojfdAfwD79SiYDDKBwsKdg&libraries=visualization"></script>

</script>
<script type="text/javascript">

function initialize() {
    var myLatlngInput = new google.maps.LatLng(38.0356,-78.5034);
    var optionsInput = {
        zoom:15,
        center: myLatlngInput,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var optionsDisplay = {
        zoom: 14,
        center: new google.maps.LatLng(38.0356,-78.5034),
        styles:
        [
            {
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ebe3cd"
                    }
                ]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#523735"
                    }
                ]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#f5f1e6"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#c9b2a6"
                    }
                ]
            },
            {
                "featureType": "landscape.natural",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dfd2ae"
                    }
                ]
            },
            {
                "featureType": "poi",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dfd2ae"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#93817c"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#D3D3D3"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#447530"
                    }
                ]
            },
            {
                "featureType": "road",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                    {
                        "color": "#000000"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "color": "#806b63"
                    },
                    {
                        "lightness": 35
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#fdfcf8"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e98d58"
                    }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#db8555"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dfd2ae"
                    }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#8f7d77"
                    }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#ebe3cd"
                    }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dfd2ae"
                    }
                ]
            },
            {
                "featureType": "water",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#b9d3c2"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#92998d"
                    }
                ]
            }
        ]
    }
    var optionsGradient = {
        center: new google.maps.LatLng(38.0356,-78.5034),
        zoom:15,
        mapTypeId: "roadmap",
        styles:
                        [
                          {
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#ebe3cd"
                              }
                            ]
                          },
                          {
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#523735"
                              }
                            ]
                          },
                          {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                              {
                                "color": "#f5f1e6"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#c9b2a6"
                              }
                            ]
                          },
                          {
                            "featureType": "landscape.natural",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "labels.text",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#93817c"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#D3D3D3"
                              }
                            ]
                          },
                          {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#447530"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "color": "#000000"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road",
                            "elementType": "labels.text",
                            "stylers": [
                              {
                                "color": "#806b63"
                              },
                              {
                                "lightness": 35
                              }
                            ]
                          },
                          {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#fdfcf8"
                              }
                            ]
                          },
                          {
                            "featureType": "road.arterial",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#ffffff"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#e98d58"
                              }
                            ]
                          },
                          {
                            "featureType": "road.highway.controlled_access",
                            "elementType": "geometry.stroke",
                            "stylers": [
                              {
                                "color": "#db8555"
                              }
                            ]
                          },
                          {
                            "featureType": "road.local",
                            "elementType": "labels",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "transit",
                            "stylers": [
                              {
                                "visibility": "off"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#8f7d77"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.line",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                              {
                                "color": "#ebe3cd"
                              }
                            ]
                          },
                          {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                              {
                                "color": "#dfd2ae"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "stylers": [
                              {
                                "visibility": "simplified"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                              {
                                "color": "#b9d3c2"
                              }
                            ]
                          },
                          {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                              {
                                "color": "#92998d"
                              }
                            ]
                          }
                        ]}

    mapInput = new google.maps.Map(document.getElementById("mapInput"), optionsInput);
    mapDisplay = new google.maps.Map(document.getElementById("mapDisplay"), optionsDisplay);
    mapGradient = new google.maps.Map(document.getElementById("mapGradient"), optionsGradient);
    // marker refers to a global variable
    marker = new google.maps.Marker({
        position: myLatlngInput,
        map: mapInput
    });
    // if center changed then update lat and lon document objects
    google.maps.event.addListener(mapInput, 'center_changed', function () {
        var location = mapInput.getCenter();
        document.getElementById("lat").value = location.lat();
        document.getElementById("lon").value = location.lng();
        // call function to reposition marker location
        placeMarker(location);
    });

    function placeMarker(location) {
        marker.setPosition(location);
    }

    //Add points to displayMap
    var jsonstring = "{{data}}"; //data passed from flask
    jsonstring = jsonstring.replace(/&#34;/g, "\""); //replace &#34; with "
    //console.log(jsonstring);
    var jsondata = JSON.parse(jsonstring);
    var data = jsondata.data; //take "data" field only

    var infowindow = new google.maps.InfoWindow();

    //add data to displayMap
    for (i = 0; i < data.length; i++){
        console.log(data[i]);
        if (data[i][0] == "green"){
            var IconType = "https://i.imgur.com/Mlyc015.png";
        }
        else{
            var IconType = "https://i.imgur.com/aqQLHjh.png";
        }


        var dateAdded = data[i][4];
        var dateExpires = new Date(dateAdded);
        dateExpires.setDate(dateExpires.getDate()+7);
        var today = new Date();
        if (dateExpires > today){
            var markerDot = new google.maps.Marker({
                position: new google.maps.LatLng(parseFloat(data[i][1]), parseFloat(data[i][2])),
                map: mapDisplay,
                icon: IconType
            });

            google.maps.event.addListener(markerDot, "click", (function (markerDot, i) {
                return function() {
                    infowindow.setContent("<font color=\"black\">" + data[i][3] + "</font>");
                    infowindow.open(mapDisplay, markerDot);
                }
            })(markerDot, i));
        }
    }

    //add mapGradient
    for (i = 0; i < data.length; i++) {
        place(data[i])
    }

    function place(point) {
        var hotSpot = new google.maps.LatLng(point[1], point[2])

        var heatMapData = [
            {location: hotSpot, weight: 1}
        ];
        var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatMapData,
            radius: 73,
        });
        var colorInt = 0;
        if (point[0] == "red") {
            colorInt = 1
        }
        var gradient = [
            'rgba('+255*colorInt+', '+255*(1-colorInt)+', 0, 0)',
            'rgba('+255*colorInt+', '+255*(1-colorInt)+', 0, 1)'];
            heatmap.set('gradient', gradient);
            heatmap.setMap(mapGradient);
        }

}
window.onload = function () { initialize() };
</script>
<style>
div#mapInput {
    width: 80%;
    height: 500px;
    border:double;
}
div#mapDisplay {
    width: 100%;
    height: 100%;
    background-color: grey;
}
div#mapGradient {
    width: 80%;
    height: 500px;
margin: 0px;
padding: 0px
}
</style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">RedDotGreenDot</a>
            </div>
        </nav>
        <section class="home-section home-full-height bg-dark-30" id="home">
                <div id="mapDisplay"></div>
        </section>

        <br>

            <center>
                <h2>Submit A New Dot</h2>
                <br>
                <!-- MAP HOLDER -->
                <div id="mapInput"></div>
                <!-- REFERENCES -->
                <br>
                <input type='hidden' name='lat' id='lat' value='38.0356' required>
                <input type='hidden' name='lon' id='lon' value='-78.5034' required>

                Red Dot: <input type="radio" id="red" name="color" value="red" checked="checked">
                &nbsp;
    			Green Dot: <input type="radio" id="green" name="color" value="green">

                <br>

                <input type='date' id='datepick' name='date' size="10" style="text-align:center; margin-bottom: 10px; margin-top: 5px" required>

                <br>

                <script type=text/javascript>
                today = new Date();
                var yyyy = today.getYear()+1900;
                var mm = today.getMonth()+1;
                var dd = today.getDate();
                if(mm<10){
                    mm = "0" + mm;
                }
                if(dd<10){
                    dd = "0" + dd;
                }
                document.getElementById('datepick').value = (yyyy+"-"+mm+"-"+dd);
                </script>

                <input type="textbox" name="desc" size="50" placeholder="Event Description" required>

                <br>
                Alert police using <img src="https://cultivationcapital.com/wp-content/uploads/2015/04/SafeTrek_Logo-Sm_Oct-2016.png" style="height:50px;">: <input type="checkbox">
                <br>
                <input type=submit name="filter" value="Submit">
            </center>
        </form>
        <br>
        <br>
        <div class="main">

            <section class="module bg-dark-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Heatmap of All Incidents (year)</h2>
                            <div class="module-subtitle font-serif"></div>
                        </div>
                    </div>

                    <!-- MAP HOLDER -->
                    <center><div id="mapGradient"></div></center>


                </div>
            </section>
            <section class="module" id="team">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">Meet Our Team</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="{{ url_for('static',filename='images/zane.jpg') }}" alt="Member Photo"/>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Zane Alpher</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="{{ url_for('static',filename='images/kush.jpg') }}" alt="Member Photo"/>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Kush Patel</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="{{ url_for('static',filename='images/jeremiah.jpg') }}" alt="Member Photo"/>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Jeremiah Thomas</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                            <div class="team-item">
                                <div class="team-image"><img src="{{ url_for('static',filename='images/cam.jpg') }}" alt="Member Photo"/>
                                </div>
                                <div class="team-descr font-alt">
                                    <div class="team-name">Cameron Dorsch</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                            <div class="callout-text font-alt">
                                <h3 class="callout-title">Want to see more of our work?</h3>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="callout-btn-box"><a class="btn btn-w" href="http://www.resumeblind.com"View>ResumeBlind</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright font-alt">&copy; 2018&nbsp;<a href="index.html">Dot</a>, All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    <!--
    JavaScripts
    =============================================
-->
<script src="{{ url_for('static',filename='assets/lib/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/wow/dist/wow.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/isotope/dist/isotope.pkgd.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/imagesloaded/imagesloaded.pkgd.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/flexslider/jquery.flexslider.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/owl.carousel/dist/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/smoothscroll.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/magnific-popup/dist/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static',filename='assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>
